.container {
  min-height: 100%;
  min-width: 100%;
}

.wd-kanbas-navigation.list-group {
  border-radius: 0;
  font-family: "Lato Extended","Lato","Helvetica", serif;
  font-size: 14px;
}

.wd-kanbas-navigation .list-group-item {
  color: white;
  background-color: black;
  border: none;
  padding: 10px 0 10px 0;
}

.wd-kanbas-navigation .list-group-item.active {
  color: #b52828;
  background-color: white;
}

.wd-color-red {
  color: #b52828;
}

.wd-bg-color-black {
  background-color: black;
}

.wd-align-centre {
  text-align: center;
}

.wd-account-navigation.list-group {
  border-radius: 0;
}

.wd-account-navigation .list-group-item {
  border: none;
  color: #b52828;
  padding-left: 8px;
}

.wd-account-navigation .list-group-item.active {
  color: black;
  border-left: 2px solid black;
  background-color: white;
}

.wd-account-navigation .list-group-item:hover {
  background-color: white;
  text-decoration: underline;
}

.wd-account-navigation .list-group-item:focus {
  background-color: white;
}

.wd-nu-logo {
  width: 70px;
  height: 70px;
}

.wd-col-min {
  max-width: 85px;
  min-height: 100%;
}

.wd-horiz-line {
  border-bottom: 1px solid #c7cdd1;
}

.wd-row-width {
  height: 70px;
}

.wd-profile-font {
  font-size: 18px;
  font-family: "Lato Extended", "Lato", "Helvetica", serif;
  color: #2D3B45;
}

.wd-name-font {
  font-family: "Lato Extended","Lato","Helvetica", serif;
  color: #2D3B45;
}

.wd-text-decoration {
  text-decoration: none;
}

.wd-edit-btn {
  border-radius: 3px;
  background: #f5f5f5;
  color: #2D3B45;
  border: 1px solid #c7cdd1;
  padding: 6px 6px 6px 6px;
}

.wd-color-white {
  color: white;
}

.wd-color-black {
  color: black;
}


a {
  text-decoration: none;
  color: #b52828;
}


.wd-publish-dropdown {
  display: contents;
}

.wd-color-green {
  color: green;
}

.wd-course-id {
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #677179;
}

.wd-bg-color-light-green {
  background-color: #a0d6a0;
}

.wd-bg-color-light-green:hover {
  background-color: #a0d6a0;
}

.wd-todo-subtext {
  color: #677179;
  font-size: 12px;
}

.wd-wrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-control:focus {
  border-color: #b52828;
  box-shadow: inset 0 1px 1px #b52828, 0 0 8px #b52828;
}

.form-check-input:focus {
  border-color: #b52828;
  box-shadow: inset 0 1px 1px #b52828, 0 0 8px #b52828;
}

.form-check-input:checked {
  border-color: #b52828;
  background-color: #b52828;
}

.list-group-item a {
  color: black;
  font-weight: bold;
}

.wd-collapsed-kanbas-navigation .list-group-item {
  border: none;
  padding: 10px 0 10px 0;
}