.wd-horiz-line {
  border-bottom: 1px solid #c7cdd1;
}

.wd-card-style {
  box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
}

.wd-card-height {
  height: 146px;
  padding: 20px;
  border-radius: 5px 5px 0 0;
}

.wd-bg-color-green {
  background: darkgreen;
}

.wd-color-green {
  color: darkgreen;
}

.wd-color-white {
  color: white;
}

.wd-card-heading {
  font-size: 14px;
  font-weight: bold;
}

.wd-card-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wd-card-subheading-color {
  color: #677179;
}

.wd-card-subheading-font {
  font-size: 16px;
}

.wd-card-subheading-small-font {
  font-size: 12px;
}